/* icon.css */
.i-arrow-up, .i-arrow-down, .i-arrow-left, .i-arrow-right {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
}

.i-arrow-up {
    background-image: url('../Icon/Arrows/arrow-up.svg');
}

.i-arrow-down {
    background-image: url('../Icon/Arrows/arrow-down.svg');
}

.i-arrow-left {
    background-image: url('../Icon/Arrows/arrow-left.svg');
}

.i-arrow-right {
    background-image: url('../Icon/Arrows/arrow-right.svg');
}
